<div class="card_frame">
    <div class="card_inner">
        <div class="card_inner split_left">
            {{card.faces[0].inner_html()}}
        </div>
        <hr class="flip_divider">
        <div class="card_inner split_right">
            {{card.faces[1].inner_html()}}
        </div>
    </div>
</div>
